<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <!--<link th:href="@{/css/SGE.css" rel="stylesheet}">-->
    <link th:href="@{/css/Evento.css}" rel="stylesheet" />
    <link th:href="@{/css/GestionarEvento.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/Bootstrap/css/bootstrap.min.css}" />
    <link
      rel="stylesheet"
      href="../static/Bootstrap/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/css/GestionarEvento.css"
      type="text/css"
    />
    <link rel="stylesheet" th:href="@{/paginacion/bootstrap.css}" />
    <link
      rel="stylesheet"
      th:href="@{/paginacion/dataTables.bootstrap4.min.css}"
    />
  </head>
  <body th:fragment="content">
    <div class="container">
      <a
        id="Button1"
        th:href="@{/Trabajo}"
        class="btn btn-primary"
        style="margin: 8px; padding: 3px"
        >Registrar Trabajo</a
      >
    </div>
    <!--conno-->
    <div id="success-alert" class="info" th:text="${mensaje}"></div>

    <div class="container tbl-container">
      <div class="row tbl-fixed">
        <table
          class="table table-success table-hover table-fixer"
          cellspacing="0"
          style="font-size: 12px; margin-bottom: 0"
          id="StripedTable"
        >
          <thead>
            <tr class="gridHeader">
              <th style="background: #0dcaf0; border-radius: 7px 0 0 0">
                Título
              </th>
              <th style="background: #0dcaf0">Autor</th>
              <th style="background: #0dcaf0">Correo</th>
              <th style="background: #0dcaf0">Facultad</th>
              <th style="background: #0dcaf0">Grupo</th>
              <th style="background: #0dcaf0">Tutor</th>
              <th style="background: #0dcaf0">Año Académico</th>
              <th style="background: #0dcaf0; border-radius: 0 7px 0 0">
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="t:${Trabajo}">
              <tr class="border-bottom border-success">
                <td th:text="${t.titulo}"></td>
                <td th:text="${t.autor}"></td>
                <td th:text="${t.correo}"></td>
                <td th:text="${t.facultad}"></td>
                <td th:text="${t.grupo}"></td>
                <td th:text="${t.tutor}"></td>
                <td th:text="${t.annoac}"></td>

                <td>
                  <a
                    th:href="@{'/eliminarTrabajo/'+${t.idtrabajo}}"
                    onclick="return confirm('Estás seguro de eliminar el trabajo')"
                  >
                    <img src="../images/eliminar.png" width="25px"
                  /></a>
                  &nbsp; &nbsp;
                  <a th:href="@{'/modificarTrabajo/'+${t.idtrabajo}}">
                    <img src="../images/editar.png" width="25px" />
                  </a>
                  <a href="#" class="mx-3">
                    <img src="../images/descargar.png" width="25px" />
                  </a>
                </td>
              </tr>
            </th:block>
          </tbody>
          <tr>
            <td
              style="background-color: #0dcaf0; border-radius: 0 0 7px 7px"
              colspan="8"
            ></td>
          </tr>
          <!--------------------------------------------------------------------->

          <!--------------------------------------------------------------------->
        </table>
      </div>
    </div>

    <div class="container">
      <footer>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <p class="text-center text-muted">
          Universidad de las Ciencias Informáticas - UCI. Copyright 2022. Todos
          los derechos reservados
        </p>
      </footer>
    </div>

    <script th:src="@{/js/sigee.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/searchindex.js}"></script>
    <script th:src="@{/js/wb.sitesearch.min.js}"></script>
    <script th:src="@{/Bootstrap/js/bootstrap.min.js}"></script>
    <!-- JQUERY -->
    <script
      th:src="@{/paginacion/jquery-3.4.1.js}"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <!-- DATATABLES -->
    <script th:src="@{/paginacion/jquery.dataTables.min.js}"></script>
    <!-- BOOTSTRAP -->
    <script th:src="@{/paginacion/dataTables.bootstrap4.min.js}"></script>
  </body>
</html>
