<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Inicio</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body th:fragment="content">
    <div style="text-align: center">
      <img class="hover" alt="" src="images/UCIENCIA.png" />
    </div>

    <div
      style="
        color: #000000;
        font-family: 'Trebuchet MS';
        font-size: 24px;
        line-height: 39px;
      "
    >
      La Universidad de las Ciencias Informáticas (UCI) convoca a los
      profesionales vinculados a las actividades de formación, investigación y
      desarrollo, en el campo de la informática, las ciencias de la computación
      y sus aplicaciones, a participar en la IV Conferencia Científica
      Internacional UCIENCIA, a efectuarse del 5 al 7 de octubre de 2022, en el
      Hotel Nacional, La Habana, Cuba. En esta edición, además de mantener su
      realización presencial, el Comité Organizador ha decidido incluir la
      modalidad virtual.
    </div>
      
        <div class="container">
          <footer>
            <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
            <p class="text-center text-muted">
              Universidad de las Ciencias Informáticas - UCI. Copyright 2022. Todos
              los derechos reservados
            </p>
          </footer>
        </div>

      <script th:src="@{/js/sigee.js}"></script>
  </body>
</html>
