<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body th:fragment="content">
        <table>
            <th:block th:each="p:${peliculas}">
                <tr>
                    <td th:text="${p.titulo}"></td>
                    <td th:text="${p.duracion}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{'/eliminar/'+${p.id}}">eliminar</a></td>
                    <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{'/editar/'+${p.id}}">edit</a></td>
                </tr>
            </th:block>
        </table>
        <a sec:authorize="hasAuthority('ADMIN')" th:href='@{/formulario}'>Adicionar</a>
        <br/><a th:href='@{/principal}'>Inicio</a>
        
    </body>
</html>
