<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Trabajo</title>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/Evento.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/Bootstrap/css/bootstrap.min.css}" />
    <link
      rel="stylesheet"
      href="../static/Bootstrap/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../static/css/Evento.css" type="text/css" />
  </head>
  <body th:fragment="content">
    <div style="padding: 0 25% 0 25%">
      <form
        class="container col-12 row needs-validation"
        method="POST"
        th:action="@{/crearTrabajo}"
        th:object="${crearTrabajoForm}"
      >
        <input type="hidden" th:field="*{idtrabajo}" th:value="*{idtrabajo}" />
        <div class="col-6 mt-3">
          <label
            for="Editbox1"
            class="form-label"
            style="display: block; width: 100%; z-index: 3; top: 5px"
            >Título:
          </label>
          <input
            type="text"
            class="form-control"
            id="Editbox1"
            name="titulo"
            th:field="*{titulo}"
            th:value="*{titulo}"
            style="display: block; width: 100%; height: 26px; z-index: 4"
            spellcheck="false"
            required
          />
        </div>
        <div class="col-6 mt-3">
          <label
            for="Editbox1"
            class="form-label"
            style="display: block; width: 100%; z-index: 3; top: 5px"
            >Autor:
          </label>
          <input
            type="text"
            class="form-control"
            id="Editbox1"
            name="autor"
            th:field="*{autor}"
            th:value="*{autor}"
            style="display: block; width: 100%; height: 26px; z-index: 4"
            spellcheck="false"
            required
          />
        </div>
        <div class="col-6 mt-3">
          <label
            for="Editbox1"
            class="form-label"
            style="display: block; width: 100%; z-index: 3; top: 5px"
            >Correo:
          </label>
          <input
            type="email"
            class="form-control"
            id="Editbox1"
            name="correo"
            th:field="*{correo}"
            th:value="*{correo}"
            style="display: block; width: 100%; height: 26px; z-index: 4"
            spellcheck="false"
            required
          />
        </div>
        <div class="col-6 mt-3">
          <label
            for="Editbox1"
            class="form-label"
            style="display: block; width: 100%; z-index: 3; top: 5px"
            >Facultad:
          </label>
          <input
            type="text"
            class="form-control"
            id="Editbox1"
            name="facultad"
            th:field="*{facultad}"
            th:value="*{facultad}"
            style="display: block; width: 100%; height: 26px; z-index: 4"
            spellcheck="false"
            required
          />
        </div>
        <div class="col-6 mt-3">
          <label
            for="validationCustom02"
            class="form-label"
            style="display: block; width: 100%; z-index: 5; top: 5px"
            >Grupo:</label
          >
          <input
            type="number"
            min="0"
            class="form-control"
            id="Editbox2"
            name="grupo"
            th:field="*{grupo}"
            th:value="*{grupo}"
            style="display: block; width: 100%; height: 26px; z-index: 6"
            spellcheck="false"
            required
          />
        </div>
        <div class="col-6 mt-3">
          <label
            for="Editbox1"
            class="form-label"
            style="display: block; width: 100%; z-index: 3; top: 5px"
            >Tutor:
          </label>
          <input
            type="text"
            class="form-control"
            id="Editbox1"
            name="tutor"
            th:field="*{tutor}"
            th:value="*{tutor}"
            style="display: block; width: 100%; height: 26px; z-index: 4"
            spellcheck="false"
          />
        </div>
        <div class="col-6 mt-3">
          <label
            for="validationCustom02"
            class="form-label"
            style="display: block; width: 100%; z-index: 5; top: 5px"
            >Año Académico:</label
          >
          <input
            type="number"
            min="1"
            max="5"
            class="form-control"
            id="Editbox2"
            name="annoac"
            th:field="*{annoac}"
            th:value="*{annoac}"
            style="display: block; width: 100%; height: 26px; z-index: 6"
            spellcheck="false"
            required
          />
        </div>
        <div class="col-6 mt-3">
          <label
            for="Editbox1"
            class="form-label"
            style="display: block; width: 100%; z-index: 3; top: 5px"
            >Resultado:
          </label>
          <select
            type="text"
            class="form-select"
            id="Editbox3"
            name="resultado"
            th:field="*{resultado}"
            th:value="*{resultado}"
            style="display: block; width: 103%; height: 30px; z-index: 8"
            spellcheck="false"
            required
          >
            <option value="" text="'Seleccione'"></option>
            <option value="Investigativo">Trabajo Destacado</option>
            <option value="Formacion">Trabajo Relevante</option>
          </select>
        </div>
        <!------------------------Botones---------------------------------->
        <div class="col-md-4 my-3">
          <button
            type="submit"
            class="btn btn-outline-primary"
            value="crearTrabajo"
          >
            Guardar
          </button>
          <a class="btn btn-outline-primary" href="/GestionarTrabajo">
            Cancelar
          </a>
        </div>
      </form>
    </div>

    <div class="container">
      <footer>
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <p class="text-center text-muted">
          Universidad de las Ciencias Informáticas - UCI. Copyright 2022. Todos
          los derechos reservados
        </p>
      </footer>
    </div>

    <script th:src="@{/js/sigee.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/searchindex.js}"></script>
    <script th:src="@{/js/wb.sitesearch.min.js}"></script>
    <script th:src="@{/Bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
